 gg .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.team1 {
  background-color: rgb(196, 255, 170);
}

.team2 {
  background-color: rgb(170, 222, 255);
}

.win-announce {
  font-size:2em;
  color:#444;
}

.word-announce {
  font-size:24pt;
}

.team {
  font-weight: bold;
}

.space {
  margin: 0 10px 0 10px;
}

.score {
  font-size: 18pt;
  color: #666;
}
.score-number {
  display: block;
  color: #000;
  font-size: 50pt;
  font-weight: bold;
}

.address {
  font-size: 2em;
  color:#00d;
}

div {
  padding: 10px;
  text-align: center;
  font-size: 14pt;
}

form {
  padding: 10px;
}

button.letter {
  font-size: 50pt;
}

button.del-letter {
  font-size: 50pt;
  color: #fff;
  background-color: #900;
}

button.has-played-letter {
  font-size: 50pt;
  color: rgb(50, 50, 50);
  background-color: rgb(109, 109, 109);
}

button {
  padding: 14px;
  font-size: 15pt;
  background-color: #eee;
  border: 1px solid #222;
}

.puzzle {
  font-size: 18pt;
  color: #999;
}
.puzzle .word {
  font-weight: bold;
  margin-bottom: 50pt;
  font-size: 36pt;
  color: #333;
  white-space: pre;
  display:block;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
